<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3>Create Account</h3>
            <form [formGroup]="signupForm">
                <div class="form-group">
                    <label for="title">Display Name</label>
                    <input type="text" class="form-control" formControlName="displayName" id="title" placeholder="Add Title here">
                </div>
                <div class="form-group">
                    <label for="description">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="description" placeholder="Add Title here">
                </div>
                <div class="form-group">
                    <label for="description">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="description" placeholder="Add Title here">
                </div>
                <button class="btn btn-primary" (click)="signup()">Signup</button>
            </form>
        </div>
    </div>
</div>

<!-- toast -->
<div aria-live="polite" aria-atomic="true" style="position: absolute; top: 70px; right: 20px; min-height: 200px; width: 400px;">
    <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
            <div class="toast-header bg-success">
              <strong class="mr-auto text-white">Todo App</strong>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              Todo has been added
            </div>
          </div>
    </div>
</div>

